[Desktop Entry]
Comment=Manage a single BPM libera device
Name=ctdibpm
GenericName=Libera GUI
Exec=ctdibpm
Icon=ctdibpm
Terminal=false
Type=Application
Categories=X-albact;X-albact-di;
StartupNotify=true
